<!DOCTYPE HTML>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CONNEXION PESD</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="StyleLogin.css">

</head>
<body>
<div class="container"  >

        <form class="form-signin" method="post" action="/login" style="float: left">
            <img src="https://upload.wikimedia.org/wikipedia/fr/6/6e/%C3%89ducation_et_Enseignement_sup%C3%A9rieur_Qu%C3%A9bec.svg"
                 alt="Enseignement Superieur du Québec" width="144" height="60" title="logo du ministère" style="background: white"/>
            <p></p>
            <h3 class="form-signin-heading">Connexion</h3>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus=""
                       >
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
            </p>
            <p>
                Maintenir la connexion?
                <label for="Remember-me" class="sr-only">Maintenir la connexion?</label>
                <input type="checkbox" id="Remember-me" name="Remember-me" class="form-control">
            </p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
            <span class="psw">Vous avez oublié votre <a href="#">mot de passe?</a></span>
            <div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p>Vous n'avez pas de compte?</p>
                <button class="btn signUp">Crée un compte</button>
                <p></p>
            </div>
            <footer class="footer">
                <p>&copy;2021 <a href="#">|Politique de confidentialité.|</a>Tous droits réservés </p>
            </footer>
        </form>

    <aside>
            <img class="ImageLeft"  src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Quebec-Marie-Guyart.JPG"
                 alt="Immeuble enseignement superieur Québec" height="500" width="800" style="position: relative;left: 430px;margin-top: -590px;
                    margin-bottom: 0px;margin-right: 90px"/>
    </aside>
    <div>

    </div>
</div>

</body>
</html>